<h2><%=l(:label_task_manager)%></h2>

<div class="alert alert-danger">
  <strong>You have unassigned project tasks.</strong>
</div>

<div class="alert alert-danger">
  <strong>You have overbooked project members.</strong>
</div>

<div class="alert alert-danger">
  <strong>You have underbooked project members.</strong>
</div>

<fieldset><legend><%= l(:label_filter_plural) %></legend>
  <div class="splitcontentleft">
    <label for='projects'><%= l(:field_project) %>:</label>
    <%= collection_select(:projects, :post, Project.all, :id, :name) %>
  </div>
  <div class="splitcontentright">
    <div style="float: right">
      <label for='groups'><%= l(:field_groups) %>:</label>
      <%= collection_select(:groups, :post, Group.all, :id, :name) %>
      <label for='users'><%= l(:field_users) %>:</label>
      <%= collection_select(:users, :post, User.all, :id, :name) %>
    </div>
  </div>
</fieldset>
&nbsp;

<div id="date"></div>
&nbsp;

<fieldset><legend><%= l(:label_project_tasks) %></legend>
  <table id="tasks" class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Tracker</th>
        <th>Subject</th>
        <th>Estimated time for task</th>
        <th>Assigned to</th>
        <th>Hours per day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1500</td>
        <td>Task</td>
        <td>Do something</td>
        <td>8</td>
        <td>Maria</td>
        <td>6</td>
      </tr>
      <tr>
        <td>100900</td>
        <td>Task</td>
        <td>Do something else</td>
        <td>2</td>
        <td>This task is not assigned</td>
        <td><td>
      </tr>
      <tr>
        <td>2750</td>
        <td>Task</td>
        <td>Do nothing</td>
        <td>3</td>
        <td>Someone else</td>
        <td>5<td>
      </tr>
    </tbody>
  </table>
</fieldset>

<fieldset><legend><%= l(:label_project_members) %></legend>
<table id="members" class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Member</th>
        <th>Hours per day</th>
        <th># of project tasks</th>
        <th>Estimated time for project tasks</th>
        <th># of all tasks</th>
        <th>Estimated time for all tasks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Maria</td>
        <td>6</td>
        <td>1</td>
        <td>8</td>
        <td>2</td>
        <td>14</td>
      </tr>
      <tr>
        <td>Someone else</td>
        <td>5</td>
        <td>1</td>
        <td>3</td>
        <td>2</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</fieldset>

<script type='text/javascript'>

  $(document).ready(function(){
    $('#date').datepaginator();
  });

</script>


<% content_for :header_tags do %>
<%= stylesheet_link_tag 'bootstrap', :plugin => 'redmine_task_manager' %>
<%= stylesheet_link_tag 'bootstrap-datetimepicker', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'jquery', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'moment', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'bootstrap', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'bootstrap-datetimepicker', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'bootstrap-datepaginator', :plugin => 'redmine_task_manager' %>
<% end %>
