<h2><%=l(:label_task_manager)%></h2>

<%= form_tag(task_manager_path, :method => :get) do %>
<fieldset><legend><%= l(:label_filter_plural) %></legend>
  <div class="splitcontentleft, col-sm-3">
    <label for='project_id'><%= l(:label_projects) %>:</label>
    <%= select_tag 'project_id', content_tag('option') + options_from_collection_for_select(@projects, :id, :name, params[:project_id].to_i),
    :onchange => "this.form.submit(); return false;", :class => "form-control" %>
  </div>
  <div class="splitcontentright">
    <div style="float: right" class="col-sm-6">
      <div class="splitcontentleft">
        <label for='group_id'><%= l(:label_groups) %>:</label>
        <%= select_tag 'group_id', content_tag('option') + options_from_collection_for_select(@groups, :id, :name, params[:group_id].to_i),
        :onchange => "this.form.submit(); return false;", :class => "form-control" %>
      </div>
      <div class="splitcontentright">
        <label for='user_id'><%= l(:label_users) %>:</label>
        <%= select_tag 'user_id', content_tag('option') + options_from_collection_for_select(@users, :id, :name, params[:user_id].to_i),
        :onchange => "this.form.submit(); return false;", :class => "form-control" %>
      </div>
    </div>
  </div>
</fieldset>
<% end %>
&nbsp;


<div id="date" style="width: 39vh"></div>
&nbsp;

<div class="panel panel-default">
  &nbsp;

  <% if has_unassigned_issues?(Project.first) %>
  <div class="alert alert-danger">
    <strong><%= l(:label_unassigned_tasks) %></strong>
  </div>
  <% end %>

  <% if has_overbooked_members?(Project.first) %>
  <div class="alert alert-danger">
    <strong><%= l(:label_overbooked_members) %></strong>
  </div>
  <% end %>

  <% if has_underbooked_members?(Project.first) %>
  <div class="alert alert-danger">
    <strong><%= l(:label_underbooked_members) %></strong>
  </div>
  <% end %>

  <h3><%= Project.first.name %></h3>
  &nbsp;

  <h4>Unassigned tasks</h4>
  <table id="tasks" class="table table-striped table-hover">
    <thead>
      <tr>
        <%= sort_header_tag('issues.id', :caption => l(:field_id)) %>
        <%= sort_header_tag('trackers.name', :caption => l(:field_tracker)) %>
        <%= sort_header_tag('issues.subject', :caption => l(:field_subject)) %>
        <%= sort_header_tag('issues.estimated_hours', :caption => l(:field_estimated_hours)) %>
        <%= sort_header_tag('issues.start_date', :caption => l(:field_start_date)) %>
      </tr>
    </thead>
    <tbody>
      <% @unassigned_issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.id, issue %></td>
        <td><%= issue.tracker %></td>
        <td><%= link_to issue.subject, issue %></td>
        <td><%= issue.estimated_hours %></td>
        <td><%= issue.start_date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% @users.each do |u| %>
<div class="panel panel-default">
  <div class="splitcontentleft, col-sm-3">
    &nbsp;
    <h3><%= u.name %></h3>
  </div>
  <div class="splitcontentright, col-sm-9">
    &nbsp;
    <div class="panel panel-default">
      <table id="members" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Project</th>
            <th>Project manager</th>
            <th>Hours per day</th>
            <th># of tasks</th>
            <th>Estimated time for tasks</th>
            <th>Overbooked?</th>
          </tr>
        </thead>
        <tbody>
          <% u.projects.each do |p| %>
          <% if members_issue_count(u, p) > 0 %>
          <tr>
            <td><%= p.name %></td>
            <td>Menedżer</td>
            <td><%= members_hours_per_day(u, p) %></td>
            <td><%= members_issue_count(u, p) %></td>
            <td><%= members_estimated_time(u, p) %></td>
            <td><%= overload(u, p) %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <table id="tasks" class="table table-striped table-hover">
    <thead>
      <tr>
        <%= sort_header_tag('issues.id', :caption => l(:field_id)) %>
        <th>Project</th>
        <%= sort_header_tag('trackers.name', :caption => l(:field_tracker)) %>
        <%= sort_header_tag('issues.subject', :caption => l(:field_subject)) %>
        <%= sort_header_tag('issues.estimated_hours', :caption => l(:field_estimated_hours)) %>
        <%= sort_header_tag('issues.start_date', :caption => l(:field_start_date)) %>
        <th>Estimated due date</th>
        <th><%= l(:field_assignee_name) %></th>
        <th><%= l(:field_assignee_hours_per_day) %></th>
        <th>Logged time</th>
      </tr>
    </thead>
    <tbody>
      <% Issue.where("assigned_to_id = ? AND project_id = ?", u.id, 1).each do |issue| %>
      <tr>
        <td><%= link_to issue.id, issue %></td>
        <td><%= issue.project %></td>
        <td><%= issue.tracker %></td>
        <td><%= link_to issue.subject, issue %></td>
        <td><%= issue.estimated_hours %></td>
        <td><%= issue.start_date %></td>
        <td><%= super_time(issue) %></td>
        <td><%= issue_assigned_to_name(issue) %></td>
        <td><%= assignees_hours_per_day(issue) %></td>
        <td><%= issue_time_entries(issue) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- <ul class="pagination"><li><%= pagination_links_full @issue_pages, @issue_count %><li></ul> -->
</fieldset>

<% end %>


<% content_for :header_tags do %>
<%= stylesheet_link_tag 'bootstrap', :plugin => 'redmine_task_manager' %>
<%= stylesheet_link_tag 'bootstrap-datetimepicker', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'jquery', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'moment', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'bootstrap', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'bootstrap-datetimepicker', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'bootstrap-datepaginator', :plugin => 'redmine_task_manager' %>
<%= javascript_include_tag 'task_manager', :plugin => 'redmine_task_manager' %>
<% end %>
